<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Piramide Gatos</title>
    <link rel="stylesheet" th:href="@{/css/estiloPiramide.css}">
</head>
<body>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Piramide Gatos</title>
    <link rel="stylesheet" th:href="@{/css/estiloPiramide.css}">
</head>
<body>


<div style="">
    <div class="piramide" th:if="${repeticiones}">
        <div th:each="fila : ${repeticiones}">
            <!-- espacios --> <div style="width: 69px;display: inline-block;" th:if="${altura - fila } > 0" th:each="espacio : ${#numbers.sequence(1, altura - fila)}">&nbsp;</div>
            <!-- imágenes --> <span th:each="img : ${#numbers.sequence(1, 2 * fila - 1)}">
<img th:src="@{/img/gato.png}" alt="*" class="icono" width="69px"/>
</span>
            <br/>
        </div>
    </div>
</div>
</body>
</html>
</body>
</html>